.card-wrapper {
  display: flex;
  width: 100%;
  position: relative;

  & .card {
    position: relative;

    &:after {
      content: '';

      width: 18rem;
      height: 26rem;

      top: -1rem;
      right: -1rem;
      position: absolute;
      background-color: var(--shape-hover);
      box-shadow: 0 0 15px var(--shape-hover);
      filter: blur(40px);
      opacity: 0;
    }

    &:hover:after {
      opacity: 1;
    }

    &:nth-child(1),
    &:nth-child(3) {
      top: 4rem;
    }

    &:nth-child(1) {
      rotate: -8deg;

      &:hover {
        z-index: 2;
      }
    }

    &:nth-child(2) {
      z-index: 1;
    }

    &:nth-child(3) {
      rotate: 8deg;
      &:hover {
        z-index: 2;
      }
    }

    position: relative;
    background-color: var(--shape-base);

    width: 18rem;
    height: 26rem;

    padding: 2rem;
    border-radius: 1.5rem;

    border: 2px solid var(--shape-stroke);

    transition:
      transform 500ms,
      background 400ms;

    &:hover {
      background-color: var(--shape-hover);

      transform: translateY(-1rem);
    }
  }
}
