.card-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;

  @media (max-width: 768px) {
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  & .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;

    background-color: var(--shape-base);

    width: 18rem;

    height: 26rem;

    padding: 2rem 1.75rem 1.75rem 2rem;
    border-radius: 1.5rem;

    border: 2px solid var(--shape-stroke);

    transition:
      transform 500ms,
      background 400ms;

    z-index: 2;

    & header {
      text-align: start;

      & span {
        color: var(--blue-light);
        font-size: var(--title-xs);
      }

      & h3 {
        font-size: var(--title-md);
        color: var(--text-title);

        padding-top: 0.5rem;

        display: flex;
        align-items: end;
        gap: 1px;

        & p {
          font-size: var(--title-xs);
        }
      }
      & h3 + span {
        color: var(--text-label);
      }
    }
    & .card-content {
      flex-direction: column;
      gap: 0.75rem;
    }
    &:hover {
      background-color: var(--shape-hover);

      transform: translateY(-1rem);
    }

    &:nth-child(1) {
      top: 11rem;
      left: 18%;

      z-index: 0;

      &:hover {
        z-index: 2;
      }

      @media (width > 768px) {
        rotate: -8deg;
      }

      @media (max-width: 1024px) {
        left: 8%;
      }
    }
    &:nth-child(2) {
      top: 11rem;
      right: 17%;
      z-index: 0;

      &:hover {
        z-index: 2;
      }

      @media (width > 768px) {
        rotate: 8deg;
      }

      @media (max-width: 1024px) {
        right: 9%;
      }
    }

    @media (max-width: 768px) {
      position: static;
    }
  }

  & .card-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;

    & .card-content {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    & header {
      text-align: start;

      & .popular-wrapper {
        display: flex;
        justify-content: start;

        & span {
          color: var(--pink-light);
          font-size: var(--title-xs);
          flex: 2;
        }

        & .popular-tag {
          display: flex;
          align-items: center;
          flex: 1;

          background-color: var(--shape-stroke);

          border-radius: 1rem;

          text-align: center;

          & span {
            font-family: var(--font-raleway);
            font-size: var(--text-tag);
            color: var(--text-body);
            text-transform: uppercase;
            font-weight: var(--font-bold);
            letter-spacing: 0.03125rem;
          }
        }
      }

      & h3 {
        padding-top: 0.5rem;
        font-size: var(--title-md);
        color: var(--text-title);

        display: flex;
        align-items: end;
        gap: 0.5px;

        & p {
          font-size: var(--title-xs);
        }
      }
      & h3 + span {
        font-size: var(--title-xs);
        color: var(--text-label);
      }
    }

    display: flex;
    position: absolute;
    background-color: var(--shape-hover);

    width: 18rem;
    height: auto;

    padding: 2rem 2rem 1.75rem 2rem;
    border-radius: 1.5rem;

    border: 2px solid var(--shape-stroke);

    transition: all 0.5s;

    top: 7rem;
    left: 40%;

    z-index: 10;

    &:hover {
      background-color: var(--shape-hover);

      transform: translateY(-1rem);
    }
    &:hover + .bunny {
      transform: translateY(-1rem);

      @media (max-width: 1024px) {
        left: 35%;
      }
    }

    @media (max-width: 768px) {
      position: static;
    }
    @media (max-width: 1024px) {
      left: 35%;
    }
  }

  .card:nth-child(1):hover ~ .card-main {
    background-color: var(--shape-base);
  }
  .card:nth-child(2):hover ~ .card-main {
    background-color: var(--shape-base);
  }

  button {
    width: 100%;
    margin-top: 1rem;
  }
}
