.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}

.desktop-only {
  @media (width < 1024px) {
    display: none;
  }
}

.not-phone {
  @media (max-width: 480px) {
    display: none;
  }
}
